/* PoweredBy.css */
.powered-by-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 15px;
  width: 80%;
  max-width: 500px;
  margin: auto;
}

.powered-by-text {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 4px;
  color: rgb(65, 65, 65);
}

.powered-by-name {
  font-size: 2rem;
  font-weight: bold;
  color: rgb(0, 0, 0);
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-bottom: 8px;
}

.collaboration-text {
  font-size: 12px;
  color: gray;
  margin-bottom: 12px;
}

.logos-container {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 60%;
}

.logo {
  width: 100px; /* Smaller fixed width */
  height: 70px; /* Smaller fixed height */
  object-fit: contain; /* Ensure logos are fully visible */
}

@media (max-width: 600px) {
  .powered-by-text {
    font-size: 1rem;
  }

  .powered-by-name {
    font-size: 1.3rem;
  }

  .collaboration-text {
    font-size: 0.9rem;
  }

  .logo {
    width: 80px;
    height: 60px;
  }
}
