/* PoweredBy.css */
.powered-by-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  width: 80%;
  max-width: 600px;
  margin: auto;
}

.powered-by-text {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 5px;
  color: rgb(65, 65, 65);
}

.powered-by-name {
  font-size: 2.5em;
  font-weight: bold;
  color: rgb(0, 0, 0);
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-bottom: 10px;
}

.collaboration-text {
  font-size: 14px;
  color: gray;
  margin-bottom: 15px;
}

.logos-container {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 50%;
}

.logo {
  width: 120px; /* Set a fixed width */
  height: 80px; /* Set a fixed height */
  object-fit: contain; /* Ensure logos are fully visible */
}

@media (max-width: 600px) {
  .powered-by-text {
    font-size: 1.2rem;
  }

  .powered-by-name {
    font-size: 1.5rem;
  }

  .collaboration-text {
    font-size: 1rem;
  }

  .logo {
    width: 100px;
    height: 70px;
  }
}
